<!DOCTYPE html>
<!-- 
    But :    Status des services Web hébergant les APIs
    Auteur : Nicolas Schmid
    Date :   03.06.2024 / V1.0 
-->
<div class="info_flex">
    <!--Status-->
    <div class="info" style="width:100%;">
        <div class="info_title">
            <h2>Status</h2>
        </div>
        <div class="info_content_array">
            <div class="info_content" style="width:100%">
                <div class="websiteStatus">
                    <img class="status_icon" src="img/web.png">
                    <p>https://spacesdata.net</p>
                    <div class="statusBox statusOK">✓</div>
                </div>
                <div class="websiteStatus">
                    <img class="status_icon" src="img/web.png">
                    <p>https://api.google.nasa.ch</p>
                    <div class="statusBox statusNOK">X</div>
                </div>
                <div class="websiteStatus">
                    <img class="status_icon" src="img/web.png">
                    <p>https://api.google.nasa.ch</p>
                    <div class="statusBox statusNOK">X</div>
                </div>
            </div>
        </div>
    </div>
</div>