<!DOCTYPE html>
<!-- 
    But :    Status des services Web hébergant les APIs
    Auteur : Nicolas Schmid
    Date :   06.06.2024 / V1.2
-->
<div class="info_flex">
    <!--Status-->
    <div class="info" style="width:100%;">
        <div class="info_title">
            <h2>API Status</h2>
        </div>
        <div class="info_content_array">
            <div class="info_content" style="width:100%; flex-wrap: wrap" id="websiteList">
            </div>
        </div>
    </div>
</div>
<div class="info_flex">
    <!--Attributions-->
    <div class="info" style="width:100%;">
        <div class="info_title">
            <h2>Attributions</h2>
        </div>
        <div class="info_content_array">
            <div class="info_content" style="width:100%">
                <div class="attributions_array">
                    <div>
                        <a href="https://www.flaticon.com/fr/icones-gratuites/meteo" title="météo icônes">Météo
                            icônes créées par Freepik - Flaticon</a>
                    </div>
                    <div>
                        <a href="https://www.flaticon.com/free-icons/conquest" title="conquest icons">Conquest icons
                            created by Dooder - Flaticon</a>
                    </div>
                    <div>
                        <a href="https://www.flaticon.com/fr/icones-gratuites/sablier" title="sablier icônes">Sablier
                            icônes créées par nawicon - Flaticon</a>
                    </div>
                    <div>
                        <a href="https://www.flaticon.com/fr/icones-gratuites/iss" title="iss icônes">Iss icônes créées
                            par Freepik - Flaticon</a>
                    </div>
                    <div><a href="https://www.flaticon.com/fr/icones-gratuites/serveur" title="serveur icônes">Serveur
                            icônes créées par smashingstocks - Flaticon</a></div>
                    <div><a href="https://www.flaticon.com/fr/icones-gratuites/serveur" title="serveur icônes">Serveur
                            icônes créées par vectorsmarket15 - Flaticon</a></div>
                    <div><a href="https://www.flaticon.com/fr/icones-gratuites/serveur" title="serveur icônes">Serveur
                            icônes créées par smashingstocks - Flaticon</a></div>
                    <div><a href="https://www.freepik.com/icon/eco_13135998">Icon by Satawat Anukul</a></div>
                </div>

            </div>

        </div>
    </div>
</div>